<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
      <ion-label position="floating">Nome Completo</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Razão Social</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">CNPJ</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">WhatsApp</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
  </ion-item>

  <!-- Textarea in an item with a placeholder -->
<ion-item>
  <ion-textarea placeholder="Enter more information here..."></ion-textarea>
</ion-item>
<!-- Textarea with custom number of rows and cols -->
<ion-item>
  <ion-label>Notes</ion-label>
  <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
</ion-item>
</ion-content>
