<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated showCancelButton="focus" color="danger"placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item-sliding>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ir3cxdjrJJ1r127hCeGneBYe3fS.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
        <h1>Escape Room 2: Tensão Máxima (2021)</h1>
        <p>26/08/2021 (BR) 1h 28m</p>
        <p>Terror, Thriller, Mistério</p>
      </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>71%</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="exibirAlertFavorito()">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rKq1Vlw0Bqe2EEvdmIkkkgPQAGf.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
        <h1>Viúva Negra (2021)</h1>
        <p>08/07/2021 (BR) 2h 15m</p>
        <p>Ação, Aventura, Thriller, Ficção científica</p>
      </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>77%</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="exibirAlertFavorito()">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/olnWkuNwCDHPYTkLKktUnFLyHFg.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
        <h1>O Poderoso Chefinho 2: Negócios da Família (2021)</h1>
        <p>12/08/2021 (BR) 1h 47m</p>
        <p>Animação, Comédia, Aventura, Família</p>
      </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>78%</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="exibirAlertFavorito()">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>


io