<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Sal e Frete

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<img src="https://play-lh.googleusercontent.com/UhD3Ro_N8z1Ub36851NWkSEXxviPPOeP37OljJ24Ca9XqKrU2lYRbwhl_p2YYivHhg=w1440-h620-rw" alt="" srcset="">
  <h2>APLICATIVO SAL E FRETE</h2>

<h1>A Solução Logística do Ramo Salineiro</h1>
<p>Encontre Sua Carga sem Agenciador</p>
<a href="mailto:sal_e_frete@yahoo.com">sal_e_frete@yahoo.com</a>

</ion-content>
